 # Setting

In [0]:
# connecting google drive with google colab
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
!pip install lightgbm

In [0]:
import os
import gc
import time
import numpy as np
import pandas as pd
from contextlib import contextmanager
import multiprocessing as mp
from functools import partial
from scipy.stats import kurtosis, iqr, skew
#from lightgbm import LGBMClassifier
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import KFold, StratifiedKFold
from sklearn.metrics import roc_auc_score
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [0]:
DATA_DIRECTORY = "drive/My Drive/Kaggle/home credit/data/"
df_applicationtrain = pd.read_csv(os.path.join(DATA_DIRECTORY, 'application_train.csv'), nrows= None)
df_applicationtrain.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [0]:
def timer(name):
    t0 = time.time()
    yield
    print("{} - done in {:.0f}s".format(name, time.time() - t0))
        
def do_mean(df, group_cols, counted, agg_name):
    gp = df[group_cols + [counted]].groupby(group_cols)[counted].mean().reset_index().rename(
        columns={counted: agg_name})
    df = df.merge(gp, on=group_cols, how='left')
    del gp
    gc.collect()
    return df

def do_median(df, group_cols, counted, agg_name):
    gp = df[group_cols + [counted]].groupby(group_cols)[counted].median().reset_index().rename(
        columns={counted: agg_name})
    df = df.merge(gp, on=group_cols, how='left')
    del gp
    gc.collect()
    return df

def do_std(df, group_cols, counted, agg_name):
    gp = df[group_cols + [counted]].groupby(group_cols)[counted].std().reset_index().rename(
        columns={counted: agg_name})
    df = df.merge(gp, on=group_cols, how='left')
    del gp
    gc.collect()
    return df

def do_sum(df, group_cols, counted, agg_name):
    gp = df[group_cols + [counted]].groupby(group_cols)[counted].sum().reset_index().rename(
        columns={counted: agg_name})
    df = df.merge(gp, on=group_cols, how='left')
    del gp
    gc.collect()
    return df
  
def label_encoder(df, categorical_columns=None):
    """Encode categorical values as integers (0,1,2,3...) with pandas.factorize. """
    if not categorical_columns:
        categorical_columns = [col for col in df.columns if df[col].dtype == 'object']
    for col in categorical_columns:
        df[col], uniques = pd.factorize(df[col])
    return df, categorical_columns

# Feature Selection

In [0]:
debug = False #True
num_rows = 30000 if debug else None

def get_apply_train_test(path, num_rows = None):
    """ Process application_train.csv and application_test.csv and return a pandas dataframe. """
    train = pd.read_csv(os.path.join(path, 'application_train.csv'), nrows= num_rows)
    test = pd.read_csv(os.path.join(path, 'application_test.csv'), nrows= num_rows)    
    df = train.append(test)
    del train, test; gc.collect()
    # Data cleaning
    df = df[df['CODE_GENDER'] != 'XNA']  # 4 people with XNA code gender
    df = df[df['AMT_INCOME_TOTAL'] < 20000000]  # Max income in test is 4M; train has a 117M value
    df['DAYS_EMPLOYED'].replace(365243, np.nan, inplace=True)
    df['DAYS_LAST_PHONE_CHANGE'].replace(0, np.nan, inplace=True)

    # Flag_document features - count and kurtosis
    docs = [f for f in df.columns if 'FLAG_DOC' in f]
    df['DOCUMENT_COUNT'] = df[docs].sum(axis=1)
    df['NEW_DOC_KURT'] = df[docs].kurtosis(axis=1)
    # Categorical age - based on target=1 plot
    df['AGE_RANGE'] = df['DAYS_BIRTH'].apply(lambda x: get_age_label(x))

    # New features based on External sources
    df['EXT_SOURCES_PROD'] = df['EXT_SOURCE_1'] * df['EXT_SOURCE_2'] * df['EXT_SOURCE_3']
    df['EXT_SOURCES_WEIGHTED'] = df.EXT_SOURCE_1 * 2 + df.EXT_SOURCE_2 * 1 + df.EXT_SOURCE_3 * 3
    np.warnings.filterwarnings('ignore', r'All-NaN (slice|axis) encountered')
    for function_name in ['min', 'max', 'mean', 'nanmedian', 'var']:
        feature_name = 'EXT_SOURCES_{}'.format(function_name.upper())
        df[feature_name] = eval('np.{}'.format(function_name))(
            df[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']], axis=1)

    # Credit ratios
    df['CREDIT_TO_ANNUITY_RATIO'] = df['AMT_CREDIT'] / df['AMT_ANNUITY']
    df['CREDIT_TO_GOODS_RATIO'] = df['AMT_CREDIT'] / df['AMT_GOODS_PRICE']
    # Income ratios
    df['ANNUITY_TO_INCOME_RATIO'] = df['AMT_ANNUITY'] / df['AMT_INCOME_TOTAL']
    df['CREDIT_TO_INCOME_RATIO'] = df['AMT_CREDIT'] / df['AMT_INCOME_TOTAL']
    df['INCOME_TO_EMPLOYED_RATIO'] = df['AMT_INCOME_TOTAL'] / df['DAYS_EMPLOYED']
    df['INCOME_TO_BIRTH_RATIO'] = df['AMT_INCOME_TOTAL'] / df['DAYS_BIRTH']
    # Time ratios
    df['EMPLOYED_TO_BIRTH_RATIO'] = df['DAYS_EMPLOYED'] / df['DAYS_BIRTH']
    df['ID_TO_BIRTH_RATIO'] = df['DAYS_ID_PUBLISH'] / df['DAYS_BIRTH']
    df['CAR_TO_BIRTH_RATIO'] = df['OWN_CAR_AGE'] / df['DAYS_BIRTH']
    df['CAR_TO_EMPLOYED_RATIO'] = df['OWN_CAR_AGE'] / df['DAYS_EMPLOYED']
    df['PHONE_TO_BIRTH_RATIO'] = df['DAYS_LAST_PHONE_CHANGE'] / df['DAYS_BIRTH']

    # Groupby: Statistics for applications in the same group
    group = ['ORGANIZATION_TYPE', 'NAME_EDUCATION_TYPE', 'OCCUPATION_TYPE', 
             'AGE_RANGE', 'CODE_GENDER']
    df = do_median(df, group, 'EXT_SOURCES_MEAN', 'GROUP_EXT_SOURCES_MEDIAN')
    df = do_std(df, group, 'EXT_SOURCES_MEAN', 'GROUP_EXT_SOURCES_STD')
    df = do_mean(df, group, 'AMT_INCOME_TOTAL', 'GROUP_INCOME_MEAN')
    df = do_std(df, group, 'AMT_INCOME_TOTAL', 'GROUP_INCOME_STD')
    df = do_mean(df, group, 'CREDIT_TO_ANNUITY_RATIO', 'GROUP_CREDIT_TO_ANNUITY_MEAN')
    df = do_std(df, group, 'CREDIT_TO_ANNUITY_RATIO', 'GROUP_CREDIT_TO_ANNUITY_STD')
    df = do_mean(df, group, 'AMT_CREDIT', 'GROUP_CREDIT_MEAN')
    df = do_mean(df, group, 'AMT_ANNUITY', 'GROUP_ANNUITY_MEAN')
    df = do_std(df, group, 'AMT_ANNUITY', 'GROUP_ANNUITY_STD')

    # Encode categorical features (LabelEncoder)
    df, le_encoded_cols = label_encoder(df, None)
    df = drop_application_columns(df)
    return df


def drop_application_columns(df):
    """ Drop features based on permutation feature importance. """
    drop_list = [
        'CNT_CHILDREN', 'CNT_FAM_MEMBERS', 'HOUR_APPR_PROCESS_START',
        'FLAG_EMP_PHONE', 'FLAG_MOBIL', 'FLAG_CONT_MOBILE', 'FLAG_EMAIL', 'FLAG_PHONE',
        'FLAG_OWN_REALTY', 'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION',
        'REG_CITY_NOT_WORK_CITY', 'OBS_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE',
        'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_YEAR', 
        'COMMONAREA_MODE', 'NONLIVINGAREA_MODE', 'ELEVATORS_MODE', 'NONLIVINGAREA_AVG',
        'FLOORSMIN_MEDI', 'LANDAREA_MODE', 'NONLIVINGAREA_MEDI', 'LIVINGAPARTMENTS_MODE',
        'FLOORSMIN_AVG', 'LANDAREA_AVG', 'FLOORSMIN_MODE', 'LANDAREA_MEDI',
        'COMMONAREA_MEDI', 'YEARS_BUILD_AVG', 'COMMONAREA_AVG', 'BASEMENTAREA_AVG',
        'BASEMENTAREA_MODE', 'NONLIVINGAPARTMENTS_MEDI', 'BASEMENTAREA_MEDI', 
        'LIVINGAPARTMENTS_AVG', 'ELEVATORS_AVG', 'YEARS_BUILD_MEDI', 'ENTRANCES_MODE',
        'NONLIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE', 'LIVINGAPARTMENTS_MEDI',
        'YEARS_BUILD_MODE', 'YEARS_BEGINEXPLUATATION_AVG', 'ELEVATORS_MEDI', 'LIVINGAREA_MEDI',
        'YEARS_BEGINEXPLUATATION_MODE', 'NONLIVINGAPARTMENTS_AVG', 'HOUSETYPE_MODE',
        'FONDKAPREMONT_MODE', 'EMERGENCYSTATE_MODE'
    ]
    # Drop most flag document columns
    for doc_num in [2,4,5,6,7,9,10,11,12,13,14,15,16,17,19,20,21]:
        drop_list.append('FLAG_DOCUMENT_{}'.format(doc_num))
    df.drop(drop_list, axis=1, inplace=True)
    return df


def get_age_label(days_birth):
    """ Return the age group label (int). """
    age_years = -days_birth / 365
    if age_years < 27: return 1
    elif age_years < 40: return 2
    elif age_years < 50: return 3
    elif age_years < 65: return 4
    elif age_years < 99: return 5
    else: return 0
    
    
#num_rows = 30000 if debug else None
with timer("application_train and application_test"):
  df = get_apply_train_test(DATA_DIRECTORY, num_rows= num_rows)
  print("Application dataframe shape: ", df.shape)

In [0]:
sample = df.sample(10)
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(sample)

In [0]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
  print(df.describe())

# Model Selection

In [0]:
train = df[df['TARGET'].notnull()]
test = df[df['TARGET'].isnull()]
print("Train/valid shape: {}, test shape: {}".format(df.shape, test.shape))

Train/valid shape: (356250, 83), test shape: (48744, 83)

In [0]:
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.pipeline import Pipeline
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import StandardScaler

import xgboost as xgb

from sklearn import metrics
from sklearn.ensemble import RandomForestClassifier

In [0]:
# spliting data
del_features = ['TARGET', 'SK_ID_CURR'] #, 'SK_ID_BUREAU', 'SK_ID_PREV', 'index', 'level_0'
predictors = list(filter(lambda v: v not in del_features, train.columns))

y = train['TARGET']
y_test = test['TARGET']
X = train[predictors]
X_test = test[predictors]

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

In [0]:
%%time
# i'm a fan: https://ongxuanhong.wordpress.com/2017/12/21/xgboost-thuat-toan-gianh-chien-thang-tai-nhieu-cuoc-thi-kaggle/
# Extreme Gradient Boosting
param_int = {
    "objective": "binary:logistic",
    "booster": "gbtree",
    "max_depth":4 ,# default: 3 oly for depthwise
    "n_estimators": 2000, # default:500
    "learning_rate": 0.025,# default: 0.05
    "gamma": 0.0,
    "min_child_wweight":10, # default:1
    "subsample":0.7,
    "colsample_bytree": 0.6, # default:1.0
    "colsample_btlevel":0.5, # default:1.0
    "reg_alpha":0.0,
    "reg_lambda":1.0,
    "scale_pse_weight":1.0,
    "random_state":0,
    #
    "silent": True,
    "n_jobs":14,
    #
    "tree_method": "hist", # default: auto
    "grow_policy": "lossguide", # default: depthwise
    "max_leaves": 0, # default: 0 (unlimited)
    "max_bin": 256  # default: 256    
}
param_fit = {
    "eval_metric": "auc",
    "early_stopping_rounds": 500, # default: 10
    "verbose": 200,
    "eval_set": [(X_train,y_train),(X_val,y_val)]
}
xgb_model = xgb.XGBClassifier(**param_int)
xgb_model.fit(X_train,y_train, **param_fit)
evals_result = xgb_model.evals_result()
evals_result

[0]	validation_0-auc:0.713943	validation_1-auc:0.710338
Multiple eval metrics have been passed: 'validation_1-auc' will be used for early stopping.

Will train until validation_1-auc hasn't improved in 500 rounds.
[200]	validation_0-auc:0.758737	validation_1-auc:0.751356
[400]	validation_0-auc:0.775647	validation_1-auc:0.760824
[600]	validation_0-auc:0.785891	validation_1-auc:0.764377
[800]	validation_0-auc:0.793958	validation_1-auc:0.766312
[1000]	validation_0-auc:0.80119	validation_1-auc:0.767631
[1200]	validation_0-auc:0.80773	validation_1-auc:0.768312
[1400]	validation_0-auc:0.813886	validation_1-auc:0.768874
[1600]	validation_0-auc:0.819585	validation_1-auc:0.769061
[1800]	validation_0-auc:0.824933	validation_1-auc:0.769386
[1999]	validation_0-auc:0.829893	validation_1-auc:0.769296
CPU times: user 17min 19s, sys: 35.2 s, total: 17min 55s
Wall time: 9min 39s

In [0]:
import pickle
pickle.dump(xgb_model, open("xgb_model_v01.mod","wb"))

In [0]:
%%time

X_train_1 = X_train.fillna(0)
X_train_1.replace([np.inf, -np.inf], 0)


# If int, random_state is the seed used by the random number generator
rforest_model = RandomForestClassifier(n_estimators = 1000, max_depth = 5, random_state = 20)
rforest_model.fit(X_train_1,y_train)

In [0]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
  print(X_train_1.describe())

         AMT_ANNUITY    AMT_CREDIT  AMT_GOODS_PRICE  AMT_INCOME_TOTAL  \
count  246004.000000  2.460040e+05     2.460040e+05      2.460040e+05
mean    27115.945535  5.990165e+05     5.379076e+05      1.685978e+05
std     14492.940879  4.026327e+05     3.698310e+05      1.083458e+05
min         0.000000  4.500000e+04     0.000000e+00      2.565000e+04
25%     16524.000000  2.700000e+05     2.385000e+05      1.125000e+05
50%     24903.000000  5.147775e+05     4.500000e+05      1.485000e+05
75%     34596.000000  8.086500e+05     6.795000e+05      2.025000e+05
max    258025.500000  4.050000e+06     4.050000e+06      1.800009e+07

       AMT_REQ_CREDIT_BUREAU_HOUR  AMT_REQ_CREDIT_BUREAU_QRT  \
count               246004.000000              246004.000000
mean                     0.005443                   0.229244
std                      0.077818                   0.780408
min                      0.000000                   0.000000
25%                      0.000000                   0.000000
50%                      0.000000                   0.000000
75%                      0.000000                   0.000000
max                      4.000000                 261.000000

       AMT_REQ_CREDIT_BUREAU_WEEK  APARTMENTS_AVG  APARTMENTS_MEDI  \
count               246004.000000   246004.000000    246004.000000
mean                     0.029601        0.057727         0.057916
std                      0.189740        0.095787         0.096338
min                      0.000000        0.000000         0.000000
25%                      0.000000        0.000000         0.000000
50%                      0.000000        0.000000         0.000000
75%                      0.000000        0.085600         0.084300
max                      8.000000        1.000000         1.000000

       APARTMENTS_MODE    CODE_GENDER     DAYS_BIRTH  DAYS_EMPLOYED  \
count    246004.000000  246004.000000  246004.000000  246004.000000
mean          0.056145       0.657591  -16033.127376   -1953.921457
std           0.094599       0.474517    4364.381127    2309.823658
min           0.000000       0.000000  -25201.000000  -17912.000000
25%           0.000000       0.000000  -19684.000000   -2755.000000
50%           0.000000       1.000000  -15741.000000   -1211.000000
75%           0.084000       1.000000  -12409.000000    -289.000000
max           1.000000       1.000000   -7489.000000       0.000000

       DAYS_ID_PUBLISH  DAYS_LAST_PHONE_CHANGE  DAYS_REGISTRATION  \
count    246004.000000           246004.000000      246004.000000
mean      -2993.392311             -963.751744       -4983.966017
std        1509.389353              827.234107        3523.097021
min       -7197.000000            -4292.000000      -24672.000000
25%       -4298.000000            -1570.000000       -7475.000000
50%       -3254.000000             -758.000000       -4500.000000
75%       -1721.000000             -275.000000       -2005.000000
max           0.000000                0.000000           0.000000

       DEF_30_CNT_SOCIAL_CIRCLE  DEF_60_CNT_SOCIAL_CIRCLE  ENTRANCES_AVG  \
count             246004.000000             246004.000000  246004.000000
mean                   0.142551                  0.099543       0.074219
std                    0.445814                  0.361793       0.102626
min                    0.000000                  0.000000       0.000000
25%                    0.000000                  0.000000       0.000000
50%                    0.000000                  0.000000       0.000000
75%                    0.000000                  0.000000       0.137900
max                   34.000000                 24.000000       1.000000

       ENTRANCES_MEDI   EXT_SOURCE_1   EXT_SOURCE_2   EXT_SOURCE_3  \
count   246004.000000  246004.000000  246004.000000  246004.000000
mean         0.073960       0.219263       0.513305       0.409345
std          0.102592       0.285318       0.192305       0.268235
min          0.000000       0.000000       0.000000       0.000000
25%          0.000000       0.000000       0.390592       0.177704
50%          0.000000       0.000000       0.565639       0.459690
75%          0.137900       0.456696       0.663563       0.635123
max          1.000000       0.951624       0.855000       0.896010

       FLAG_DOCUMENT_18  FLAG_DOCUMENT_3  FLAG_DOCUMENT_8   FLAG_OWN_CAR  \
count     246004.000000    246004.000000    246004.000000  246004.000000
mean           0.008049         0.710184         0.081320       0.340312
std            0.089353         0.453678         0.273326       0.473815
min            0.000000         0.000000         0.000000       0.000000
25%            0.000000         0.000000         0.000000       0.000000
50%            0.000000         1.000000         0.000000       0.000000
75%            0.000000         1.000000         0.000000       1.000000
max            1.000000         1.000000         1.000000       1.000000

       FLAG_WORK_PHONE  FLOORSMAX_AVG  FLOORSMAX_MEDI  FLOORSMAX_MODE  \
count    246004.000000  246004.000000   246004.000000   246004.000000
mean          0.199102       0.113661        0.113471        0.111682
std           0.399326       0.152741        0.152822        0.150886
min           0.000000       0.000000        0.000000        0.000000
25%           0.000000       0.000000        0.000000        0.000000
50%           0.000000       0.000000        0.000000        0.000000
75%           0.000000       0.166700        0.166700        0.166700
max           1.000000       1.000000        1.000000        1.000000

       LIVE_CITY_NOT_WORK_CITY  LIVE_REGION_NOT_WORK_REGION  LIVINGAREA_AVG  \
count            246004.000000                246004.000000   246004.000000
mean                  0.178977                     0.040699        0.053397
std                   0.383334                     0.197591        0.094602
min                   0.000000                     0.000000        0.000000
25%                   0.000000                     0.000000        0.000000
50%                   0.000000                     0.000000        0.000000
75%                   0.000000                     0.000000        0.074000
max                   1.000000                     1.000000        1.000000

       NAME_CONTRACT_TYPE  NAME_EDUCATION_TYPE  NAME_FAMILY_STATUS  \
count       246004.000000        246004.000000       246004.000000
mean             0.094787             0.348795            1.246870
std              0.292921             0.611002            0.986415
min              0.000000             0.000000            0.000000
25%              0.000000             0.000000            1.000000
50%              0.000000             0.000000            1.000000
75%              0.000000             1.000000            1.000000
max              1.000000             4.000000            5.000000

       NAME_HOUSING_TYPE  NAME_INCOME_TYPE  NAME_TYPE_SUITE  OCCUPATION_TYPE  \
count      246004.000000     246004.000000    246004.000000     246004.00000
mean            0.273398          1.077332         0.277512          2.28180
std             0.829063          1.210762         0.723137          3.83133
min             0.000000          0.000000        -1.000000         -1.00000
25%             0.000000          0.000000         0.000000         -1.00000
50%             0.000000          0.000000         0.000000          1.00000
75%             0.000000          2.000000         0.000000          5.00000
max             5.000000          7.000000         6.000000         17.00000

       ORGANIZATION_TYPE    OWN_CAR_AGE  REGION_POPULATION_RELATIVE  \
count      246004.000000  246004.000000               246004.000000
mean            9.549658       4.091909                    0.020841
std            10.859214       8.960741                    0.013827
min             0.000000       0.000000                    0.000290
25%             1.000000       0.000000                    0.010006
50%             5.000000       0.000000                    0.018850
75%            12.000000       5.000000                    0.028663
max            57.000000      91.000000                    0.072508

       REGION_RATING_CLIENT  REGION_RATING_CLIENT_W_CITY  \
count         246004.000000                246004.000000
mean               2.052312                     2.031548
std                0.508629                     0.502406
min                1.000000                     1.000000
25%                2.000000                     2.000000
50%                2.000000                     2.000000
75%                2.000000                     2.000000
max                3.000000                     3.000000

       REG_CITY_NOT_LIVE_CITY  TOTALAREA_MODE  WALLSMATERIAL_MODE  \
count           246004.000000   246004.000000       246004.000000
mean                 0.078629        0.052988            0.105006
std                  0.269159        0.092619            1.441013
min                  0.000000        0.000000           -1.000000
25%                  0.000000        0.000000           -1.000000
50%                  0.000000        0.005100           -1.000000
75%                  0.000000        0.070400            2.000000
max                  1.000000        1.000000            6.000000

       WEEKDAY_APPR_PROCESS_START  YEARS_BEGINEXPLUATATION_MEDI  \
count               246004.000000                 246004.000000
mean                     2.960053                      0.500820
std                      2.163649                      0.490605
min                      0.000000                      0.000000
25%                      1.000000                      0.000000
50%                      3.000000                      0.959300
75%                      5.000000                      0.982100
max                      6.000000                      1.000000

       DOCUMENT_COUNT   NEW_DOC_KURT      AGE_RANGE  EXT_SOURCES_PROD  \
count   246004.000000  246004.000000  246004.000000     246004.000000
mean         0.930700      17.749784       2.880835          0.051132
std          0.343797       6.132221       1.010012          0.094062
min          0.000000       0.000000       1.000000          0.000000
25%          1.000000      20.000000       2.000000          0.000000
50%          1.000000      20.000000       3.000000          0.000000
75%          1.000000      20.000000       4.000000          0.067732
max          4.000000      20.000000       5.000000          0.618557

       EXT_SOURCES_WEIGHTED  EXT_SOURCES_MIN  EXT_SOURCES_MAX  \
count         246004.000000    246004.000000    246004.000000
mean               1.082162         0.399377         0.615410
std                1.537172         0.187534         0.156726
min                0.000000         0.000000         0.000000
25%                0.000000         0.253963         0.540173
50%                0.000000         0.403142         0.648136
75%                2.599670         0.552849         0.725057
max                5.220172         0.878903         0.951624

       EXT_SOURCES_MEAN  EXT_SOURCES_NANMEDIAN  EXT_SOURCES_VAR  \
count     246004.000000          246004.000000    246004.000000
mean           0.508916               0.511961         0.016335
std            0.150219               0.157778         0.021153
min            0.000000               0.000000         0.000000
25%            0.413483               0.409646         0.001122
50%            0.524339               0.532062         0.007943
75%            0.622646               0.634076         0.023721
max            0.878903               0.885488         0.191747

       CREDIT_TO_ANNUITY_RATIO  CREDIT_TO_GOODS_RATIO  \
count            246004.000000          246004.000000
mean                 21.603382               1.122049
std                   7.824506               0.128247
min                   0.000000               0.000000
25%                  15.606251               1.000000
50%                  20.000000               1.118800
75%                  27.094129               1.198000
max                  45.305079               6.000000

       ANNUITY_TO_INCOME_RATIO  CREDIT_TO_INCOME_RATIO  \
count            246004.000000           246004.000000
mean                  0.180791                3.954246
std                   0.094368                2.687582
min                   0.000000                0.037500
25%                   0.114800                2.018667
50%                   0.162833                3.262290
75%                   0.228721                5.155057
max                   1.875965               84.736842

       INCOME_TO_EMPLOYED_RATIO  INCOME_TO_BIRTH_RATIO  \
count              2.460040e+05          246004.000000
mean                        inf             -11.442215
std                         NaN               8.086395
min               -2.137500e+05           -1146.210520
25%               -1.771526e+02             -14.290251
50%               -7.197697e+01              -9.818896
75%               -2.369583e+01              -6.562956
max                         inf              -1.091880

       EMPLOYED_TO_BIRTH_RATIO  ID_TO_BIRTH_RATIO  CAR_TO_BIRTH_RATIO  \
count            246004.000000      246004.000000       246004.000000
mean                  0.128553           0.193714           -0.000290
std                   0.135250           0.101436            0.000684
min                   0.000000          -0.000000           -0.008679
25%                   0.021568           0.117248           -0.000333
50%                   0.088417           0.191570            0.000000
75%                   0.190643           0.279848            0.000000
max                   0.728811           0.469001            0.000000

       CAR_TO_EMPLOYED_RATIO  PHONE_TO_BIRTH_RATIO  GROUP_EXT_SOURCES_MEDIAN  \
count          246004.000000         246004.000000             246004.000000
mean               -0.004707              0.063170                  0.352247
std                 0.032946              0.055941                  0.244005
min               -11.500000              0.000000                  0.000000
25%                -0.001498              0.017157                  0.000000
50%                 0.000000              0.050689                  0.472967
75%                 0.000000              0.098144                  0.542893
max                 0.000000              0.361365                  0.833867

       GROUP_EXT_SOURCES_STD  GROUP_INCOME_MEAN  GROUP_INCOME_STD  \
count          246004.000000       2.460040e+05      2.460040e+05
mean                0.092342       1.212049e+05      5.610497e+04
std                 0.065501       9.113554e+04      5.442884e+04
min                 0.000000       0.000000e+00      0.000000e+00
25%                 0.000000       0.000000e+00      0.000000e+00
50%                 0.129671       1.462500e+05      6.368070e+04
75%                 0.140737       1.790000e+05      7.875496e+04
max                 0.441123       2.250000e+06      1.721262e+06

       GROUP_CREDIT_TO_ANNUITY_MEAN  GROUP_CREDIT_TO_ANNUITY_STD  \
count                 246004.000000                246004.000000
mean                      14.366416                     5.141798
std                        9.861045                     3.638866
min                        0.000000                     0.000000
25%                        0.000000                     0.000000
50%                       19.836046                     7.339201
75%                       21.583940                     7.779208
max                       39.378726                    20.287410

       GROUP_CREDIT_MEAN  GROUP_ANNUITY_MEAN  GROUP_ANNUITY_STD
count       2.460040e+05       246004.000000      246004.000000
mean        4.117107e+05        19316.017138        9427.547801
std         2.987017e+05        13682.632030        7046.909923
min         0.000000e+00            0.000000           0.000000
25%         0.000000e+00            0.000000           0.000000
50%         5.243610e+05        25508.263554       12480.524353
75%         6.213343e+05        28702.785230       13972.477120
max         2.606400e+06       225000.000000      105100.816422

In [0]:
for c in X_train_1.columns:
    if X_train_1[c].dtype == 'float64':
      X_train_1[c] = "{0:.9f}".format(X_train_1[c])

TypeError: ignored

In [0]:
# validate set
y_val_pred = hc_model.predict_proba(X_val)

In [0]:
clf1 = LogisticRegression(penalty='l2', C=0.001, random_state=1)
clf2 = DecisionTreeClassifier(max_depth=5, criterion='entropy', random_state=0)
# select 5 feature b/c 
#clf3 = KNeighborsClassifier(n_neighbors=2, p=2, metric='minkowski')
pipe1 = Pipeline([['sc', StandardScaler()], ['clf', clf1]])
#pipe3 = Pipeline([['sc', StandardScaler()], ['clf', clf3]])
clf_labels = ['Logistic regression', 'Decision tree', 'KNN']
print('10-fold cross validation:\n')

for clf, label in zip([pipe1, clf2], clf_labels):  
  scores = cross_val_score(estimator=clf,X=X_train,y=y_train,cv=10,scoring='roc_auc')
  print("ROC AUC: %0.2f (+/- %0.5f) [%s]"% (scores.mean(), scores.std(), label))

In [0]:
#drive/My Drive/Kaggle/home credit/data/sample_submission.csv